* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#grid-container {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 750px;
    cursor: crosshair;
    margin: 0;    
}

#page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridRow {
    height: 750px;
}

.gridCol {
    box-sizing: border-box;
    outline: grey 1px solid;
}